<app-welcome></app-welcome>
<div class="container">
    <div>
        <form #se="ngForm">
            <input class="form-control" type="search" [(ngModel)]="searchByname">
            <input type="submit" name="submit" value="search" onsubmit="getProductByName()" class="btn btn-info">
        </form>
    </div>
    <table class='table table-bordered table-light table-striped mt-2 mb-lg-0'>
        <thead>
            <tr>
                <th>SKU</th>
                <th>Name</th>
                <th>Image</th>
                <th>Price</th>
                <th>Available</th>
                <th>Action</th>
                <th>Delete</th>
            </tr>
    
        </thead>
        <tr  *ngFor="let p of products">
            <td>{{p.sku }} </td>
            <td>{{p.name}}</td>
            <td><img [src]="p.imageurl" alt="" srcset=""></td>
            <td>{{p.unitprice | currency:'INR'}}</td>
            <td>{{p.unitsinstock}}</td>
            <td>
                &nbsp;
                <button type="submit" class="btn btn-sm btn-info" (click)="updateProduct(p.id)">Update</button>
            </td>
            <td>
                &nbsp;
                <button type="submit" class="btn btn-sm btn-info" (click)="deleteProduct(p.id)">Delete</button>
            </td>
        </tr>
        </table>
</div>
