<div class="container">

    <table class='table table-bordered table-info table-striped   table-hover'>
        <thead>
            <tr>
                <th>Name</th>
                <th>Job</th>
                <th>Salary</th>
                <th>Manager</th>
                <th>Commission</th>
                <th>Action</th>
               
            </tr>
    
        </thead>
        <tr  *ngFor="let emp of employees">
            <td>{{emp.ename }} </td>
            <td>{{emp.job}}</td>
            <td>{{emp.salary | currency:'INR'}}</td>
            <td>{{emp.managerId}}</td>
            <td>{{emp.commission | currency:'INR'}}</td>
            <td>
                &nbsp;
                <button type="submit" class="btn btn-sm btn-info" (click)="updateEmp(emp.empno)">update</button>
            </td>
        </tr>
        </table>
</div>
